<div id="cover" class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Star-API</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://hacktheuniverse.github.io/star-api/">Docs</a></li>
            <li><a href="mailto:bridgeup@amnh.org">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Star-API</h1>
        <p class="lead">Star-API provides easy and free API access to the American Museum of Natural History's Digital Universe Data.  We provide access to positions of over 100,000 stars as well as constellations, exo-planets, clusters and others.</p>
        <p class="lead">
          <a href="http://hacktheuniverse.github.io/star-api/" class="btn btn-lg btn-default">The Docs</a>
        </p>
        <p class="lead">
          <a href="https://github.com/HacktheUniverse/star-api" class="btn btn-lg btn-default">The Code</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Made with Love in NYC by
            <a href="https://github.com/NancyKo">Nancy</a>,
            <a href="https://github.com/jdmcpeek">David</a>,
            <a href="https://github.com/zniazi">Zak</a>,
            <a href="https://github.com/wallyqs">Waldemar</a>,
            <a href="https://github.com/nicholalexander">Nichol</a> &
            <a href="https://github.com/surenm">Suren</a>
          </p>
          <p> 
            Developed as part of #HackTheUniverse
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
