%h1
  All These Stars Are Yours

%p
  This is an API to access the Digital Universe Data set.  Current
  data provided includes:
  %ul
    %li Stars (1000 - More to come soon...)

%p
  access via:
  %ul
    %li star-api.herokuapp.com/api/v1/stars
    %li star-api.herokuapp.com/api/v1/stars/Sun
    %li star-api.herokuapp.com/api/v1/stars/HIP1%20HD224700%20Gli

%p
  We are currently working on sorting the star data by parameters (ex. distance
  from sun), pagination for stars, exoplanets, and constellations.

%p
  Team includes: Nancy, Jose, Zak, Waldemar, Nichol, and Suren

